.card {
    width: 1000px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
    margin: 1rem 0;
    padding: 1rem 0;
}

@media only screen and (max-width: 1000px) {
    .card {width: 100%;}
}