.addFormContainer {
    width: 100%;
    height: 100px;
}

.addFormContainer > form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.addFormContainer > form > div > input{
    padding: 0.5rem;
    margin: 0.2rem;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
} .addFormContainer > form > div > input:focus {
    box-shadow: 0 0 3px #ccc inset;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.inputContainer > label {
    display: flex;
    align-items: center;
}

.inputRgbContainer > input {
    width: 50px;
}

.colorFormButton {
    height: 100%;
    background-color: #eee;
    border: 1px solid black;
    transition: .2s;
    cursor: pointer;
}

.colorFormButton:hover {
    background-color: #999;
}

.submitInput {
    background-color: rgb(56, 216, 77);
    color: #fff;
    transition: .2s;
} .submitInput:disabled {
    background-color: #eee;
    color: black;
} .submitInput:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.5) inset;
} .submitInput:disabled:hover {
    box-shadow: 0px 0px 0px;
}

@media only screen and (max-width: 700px){
    .submitInputContainer {
        width: 100%;
    } .submitInput {
        width: 100%;
    }

    form {
        flex-wrap: wrap;
    }

    .addFormContainer {
        width: 80%;
    }
}