li {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    margin: 0.2rem 0;
}

li > div > p {
    margin: 0;
}

.itemListItem {
    width: 80%;
}

.removeItem {
    background-color: #222;
    color: #eee;
    font-size: 14px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    cursor: pointer;
} .removeItem:hover {
      background-color: #444;
  }

.itemColor {
    height: 5px;
    background-color: red;
}